# Docker build context ignores
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.env.local
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache
.npm
.docker
Dockerfile
.dockerignore
.docker/
docker-compose.yml
!node_modules/